<style>
	.image-card { margin: 10px; border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px
	-12px; transition: all 0.5s ease-out; animation: rotate 5s linear infinite; } @keyframes rotate {
	0% { transform: perspective(3000px) rotateY(0deg); } 25% { transform: perspective(3000px)
	rotateY(-10deg); } 50% { transform: perspective(3000px) rotateY(0deg); } 75% { transform:
	perspective(3000px) rotateY(10deg); } 100% { transform: perspective(3000px) rotateY(0deg); } }
</style>

<div align='center'>
	<img src='{{waifuImageURL}}' width='350' class='image-card' />
	<br />
	<a href='{{waifuImageURL}}'><button
			style='color: var(--vscode-editor-foreground); background: transparent; border-radius: 5px'
		>Original</button></a>
	<br />
	<input type='checkbox' id='preventToday' name='preventToday' />
	<label for='preventToday' style='font-family: ${fontFamily};'>I'm tired of waifus for today</label>

	<script>
		const vscode = acquireVsCodeApi(); const checkbox = document.getElementById('preventToday')
		checkbox.addEventListener('change', (event) => { if (event.currentTarget.checked) {
		vscode.postMessage({ command: 'preventToday' }) } else { vscode.postMessage({ command:
		'keepThrowing' }) } })
	</script>
</div>